<!DOCTYPE html>
<html>
<title>Whitechapel Mobile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<!--<link rel="stylesheet" type="text/css" href="mobileGeneralStyle.css">-->

<body>

        <header class="w3-bar">
                <div id="title">
                  
                  <h1 class="w3-bar-item">Whitechapel</h1>
                  <button  class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" (click)="openSidebar()">&#9776;</button>
                </div>
        </header>



        <div> <button routerLink="/mobileMain">Go to Mobile!</button> </div>



</body>

</html>