<!DOCTYPE html>
<html>
<title>Whitechapel Mobile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="mobileGeneralStyle.css">-->

<body >

        <header class="w3-bar">
                <div id="title">
                  
                  <h1 class="w3-bar-item">Whitechapel</h1>
                  
                </div>
        </header>

        



        <div id="formContainer" >
                <div><img id = "newPlayerIcon" class="w3-circle " src="https://cdn2.iconfinder.com/data/icons/business-management-52/96/Artboard_20-512.png" style="width:30%"> </div>
                <!--<ami-fullstack-mobile-login id="cameraButton" (click) = "changePlayerAvatar()"></ami-fullstack-mobile-login>-->
                <form  id="inputForm">
                <div><input (click)="localName()" id = "loginbutton" type="image" src="https://i.imgur.com/ibRrFcW.png"  ></div>
                
                <div><p id = "playerNameText" class="yellowLetters">PLAYER NAME</p></div>
                <input type="text" id="playerInputBox" value="">
                </form>
        </div>

       


       <!-- <div> <button routerLink="/mobileMain"  id = "loginbutton" >A</button> </div> -->
      


</body>

</html>