<div>
    <img class="player_image" src={{player_image}}>
    <img class= "player_mayor" src={{player_mayor}} [style.visibility]= "plm ? 'visible' : 'hidden'">
    <img class="player_dead" src={{player_dead}} [style.visibility]= "pldead ? 'visible' : 'hidden'">
    <img id="gib1" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '63.19%', 'top': '70.02%' }" [style.transform]="'rotate(' + '40.25' + 'deg)'" [style.visibility]= "gibvis1 ? 'visible' : 'hidden'">
    <img id="gib2" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '63.99%', 'top': '71.68%' }" [style.transform]="'rotate(' + '50' + 'deg)'" [style.visibility]= "gibvis2 ? 'visible' : 'hidden'">
    <img id="gib3" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '64.59%', 'top': '73.58%' }" [style.transform]="'rotate(' + '60' + 'deg)'" [style.visibility]= "gibvis3 ? 'visible' : 'hidden'">
    <img id="gib4" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '64.89%', 'top': '75.78%' }" [style.transform]="'rotate(' + '70' + 'deg)'" [style.visibility]= "gibvis4 ? 'visible' : 'hidden'">
    <img id="gib5" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '64.89%', 'top': '77.93%' }" [style.transform]="'rotate(' + '80' + 'deg)'" [style.visibility]= "gibvis5 ? 'visible' : 'hidden'">
    <img id="gib6" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '64.69%', 'top': '80.18%' }" [style.transform]="'rotate(' + '90' + 'deg)'" [style.visibility]= "gibvis6 ? 'visible' : 'hidden'">
    <img id="gib7" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '64.24%', 'top': '82.23%' }" [style.transform]="'rotate(' + '100' + 'deg)'" [style.visibility]= "gibvis7 ? 'visible' : 'hidden'">
    <p class="player_name">{{player_name}}</p>
</div>