.image{
    height: 1080px;
    width: 1920px;
    //background-image: url('https://i.imgur.com/UwNfp80.png');
    //object-fit: cover;
    background-position:50% 50%;
    z-index: 0;
  }

   .player1{
    //position: fixed;
     //top: calc(auto + 500px);
     //left: +100px;
     
   }
   