
    <img class = "image" src={{Background}}>
    <p class="game_title_1" [style.visibility]= "game_title_vis ? 'visible' : 'hidden'">WHITECHAPEL</p>
    <p class="game_title_2" [style.visibility]= "game_title_vis ? 'visible' : 'hidden'">A VICTORIAN ERA HORROR GAME EXPERIENCE</p>
    <p class="title" [style.visibility]= "titlevis ? 'visible' : 'hidden'">{{title}}</p>
    <team13-table-player id=player_1 (click) = "exmp()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player>
    <team13-table-player2 id=player_2 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player2>
    <team13-table-player3 id=player_3 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player3>
    <team13-table-player4 id=player_4 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player4>
    <team13-table-player5 id=player_5 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player5>
    <team13-table-player6 id=player_6 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player6>
    <team13-table-player7 id=player_7 (click) = "reset_giblets()" [style.visibility]= "players ? 'visible' : 'hidden'"></team13-table-player7>

