.image{
    height: 1080px;
    width: 1920px;
    background-image: url('C:/Users/anpat/Dropbox/HY469/Phase B/Whitechapel/fullstack-template/frontend/src/assets/table-background.png');
    background-position:50% 50%;
  }

   .blood-1{
    position: absolute;
    left: -6.25%;
    right: 85.42%;
    top: 10.46%;
    bottom: 52.5%;
    //content:url('C:/Users/anpat/Dropbox/HY469/Phase B/Whitechapel/fullstack-template/frontend/src/assets/Blood_Stains.png');
   }

  .blood-3{
    position: absolute;
    left: -8.96%;
    right: 78.39%;
    top: 60.46%;
    bottom: -10.83%;
    //content:url('C:/Users/anpat/Dropbox/HY469/Phase B/Whitechapel/fullstack-template/frontend/src/assets/Blood_Stains_3.png');
  }