<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<div class="container" style="max-width:600px;">
        <img src= "https://i.imgur.com/zeaHg5x.png" class="w3-display-topleft" style="transform: scale(1.4); top: 1%;">
        <img src= "https://i.imgur.com/SSWHN6e.png" class="w3-display-topright" style="transform: scale(1.4); top: 2%;">
        <img src= "{{roleAvatar}}" class="w3-display-topmiddle avatar" style="top: 13%;">
        <p class=" w3-display-topmiddle charName" style="top: 33%; max-width: 100%;">{{role}}</p>
        <p class="infoText">{{info}}</p> 
</div>
