
<html>
    <body class="container">
        <img class="img1" src={{playerAvatar[0]}} [ngStyle]="{'filter': playerState && convertInt(playerState[0]) ? norm : grey}">
        <p class="names" style="left: 46.5%; top: 21.94%;">{{playerName && playerName[0]}}</p>
        <img class="img1" style="left: 27.34%; top: 15.19%;" src="{{playerAvatar[1]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[1]) ? norm : grey}">
        <p class="names"style="left: 28.5%; top: 35.65%;">{{playerName && playerName[1]}}</p>
        <img class="img1" style="left: 21.75%; top: 44.63%;" src="{{playerAvatar[2]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[2]) ? norm : grey}">
        <p class="names"style="left: 23.5%; top: 65%;">{{playerName && playerName[2]}}</p>
        <img class="img1" style="left: 32.81%; top: 71.85%;" src="{{playerAvatar[3]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[3]) ? norm : grey}">
        <p class="names"style="left: 34.5%; top: 92%;">{{playerName && playerName[3]}}</p>
        <img class="img1" style="left: 56.67%; top: 71.85%;" src="{{playerAvatar[4]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[4]) ? norm : grey}">
        <p class="names"style="left: 58.5%; top: 92%;">{{playerName && playerName[4]}}</p>
        <img class="img1" style="left: 67.68%; top: 44.63%;" src="{{playerAvatar[5]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[5]) ? norm : grey}">
        <p class="names"style="left: 69.5%; top: 65%;" [ngStyle]="{'filter': flag ? grey : norm}">{{playerName && playerName[5]}}</p>
        <img class="img1" style="left: 62.19%; top: 15.19%;" src="{{playerAvatar[6]}}" [ngStyle]="{'filter': playerState && convertInt(playerState[6]) ? norm : grey}">
        <p class="names"style="left: 67.5%; top: 35%;">{{playerName && playerName[6]}}</p>
        
        <img *ngIf="playerState && convertInt(playerState[0])" class="img2" src="{{playerVote[0]}}">
        <img *ngIf="playerState && convertInt(playerState[1])" class="img2" style="left: 34.3%; top: 25.95%;" src="{{playerVote[1]}}">
        <img *ngIf="playerState && convertInt(playerState[2])" class="img2" style="left: 29.22%; top: 55.39%;" src="{{playerVote[2]}}">
        <img *ngIf="playerState && convertInt(playerState[3])" class="img2" style="left: 40.19%; top: 82.69%;" src="{{playerVote[3]}}">
        <img *ngIf="playerState && convertInt(playerState[4])" class="img2" style="left: 64.14%; top: 82.34%;" src="{{playerVote[4]}}">
        <img *ngIf="playerState && convertInt(playerState[5])" class="img2" style="left: 75.14%; top: 55.39%;" src="{{playerVote[5]}}">
        <img *ngIf="playerState && convertInt(playerState[6])" class="img2" style="left: 69.14%; top: 25.95%;" src="{{playerVote[6]}}">
        <p class="vote">VOTING {{round}}</p>
        <input type="image" (click)="deincrement()" class="butt" src="{{arrow}}" />
        <input type="image" (click)="increment()" class="butt2" src="{{arrow}}" />
        <input type="image" (click)="xfactor()" src="{{image}}" />
    </body>


</html>
<ami-fullstack-virtual [size] = "150"></ami-fullstack-virtual>

