.container{
    height: 1079px;
    width: 100%;
    background-image: url("https://i.imgur.com/q57Jw5r.png");
}
html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
  }

.img1{
    width: 206px;
    height: 206px;
    z-index: 1;
    position: absolute;
    left: 44.58%;
    top: 1.67%;
    bottom: 78.75%;
    object-fit: cover;
    border-radius: 50%;
}

.img2{
    width: 100.02px;
    height: 100.02px;
    z-index: 1;
    position: absolute;
    left: 52.07%;
    right: 42.72%;
    top: 11.76%;
    bottom: 78.98%;
    object-fit: cover;
    border-radius: 50%;
}

.vote{
    position: absolute;
    left: 42.19%;
    top: 46.3%;
    bottom: 46.3%;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #F2C94C;
}

.butt{
    position: absolute;
    left: 37.0%;
    top: 47.7%;
    transform: rotate(-180deg);
    height: 60px;
}

.butt2{
    position: absolute;
    left: 62%;
    top: 47.7%;
    height: 60px;
}

.names{
    position: absolute;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: rgba(242, 201, 76, 0.9);
}
