<html>
    <body class="container">
            <img class="img1" src={{image}}>
            <img class="img1" style="left: 27.34%; top: 15.19%;" src="{{image}}">
            <img class="img1" style="left: 21.75%; top: 44.63%;" src="{{image}}">
            <img class="img1" style="left: 32.81%; top: 71.85%;" src="{{image}}">
            <img class="img1" style="left: 56.67%; top: 71.85%;" src="{{image}}">
            <img class="img1" style="left: 67.68%; top: 44.63%;" src="{{image}}">
            <img class="img1" style="left: 62.19%; top: 15.19%;" src="{{image}}">
            <img class="img2" src="{{image}}">
            <img class="img2" style="left: 34.3%; top: 25.95%;" src="{{image}}">
            <img class="img2" style="left: 29.22%; top: 55.39%;" src="{{image}}">
            <img class="img2" style="left: 40.19%; top: 82.69%;" src="{{image}}">
            <img class="img2" style="left: 64.14%; top: 82.34%;" src="{{image}}">
            <img class="img2" style="left: 69.14%; top: 25.95%;" src="{{image}}">
            <p class="vote">VOTING {{round}}</p>
            <input type="image" (click)="deincrement()" class="butt" src="{{image}}" />
            <input type="image" (click)="increment()" class="butt2" src="{{image}}" />


    </body>
</html>

