.player_image{
    height: 206px;
    width: 206px;
    position: absolute;
    left: 44.58%;
    //right: 44.69%;
    top: 1.67%;
    //bottom: 79.26%;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
}

.gibbet{
    height: 110px;
    width: 70px;
    position: absolute;
    //left: 51.1%;
    //right: 43.83%;
    //top: -0.16%;
    //bottom: 91.82%;
    //transform: rotate(40.25deg);
    z-index: 2;
}

.player_name{
    height: 43px;
    width: 265px;
    position: absolute;
    left: 43.07%;
    //right: 43.12%;
    top: 23.5%;
    //bottom: 70.56%;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: rgba(242, 201, 76, 0.9);
}