<div>
    <img class="player_image" src={{player_image}}>
    <img class="player_dead" src={{player_dead}} [style.visibility]= "pldead ? 'visible' : 'hidden'">
    <img id="gib1" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '51.1%', 'top': '-0.16%' }" [style.transform]="'rotate(' + '40.25' + 'deg)'" [style.visibility]= "gibvis1 ? 'visible' : 'hidden'">
    <img id="gib2" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '51.9%', 'top': '1.5%' }" [style.transform]="'rotate(' + '50' + 'deg)'" [style.visibility]= "gibvis2 ? 'visible' : 'hidden'">
    <img id="gib3" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '52.5%', 'top': '3.4%' }" [style.transform]="'rotate(' + '60' + 'deg)'" [style.visibility]= "gibvis3 ? 'visible' : 'hidden'">
    <img id="gib4" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '52.8%', 'top': '5.6%' }" [style.transform]="'rotate(' + '70' + 'deg)'" [style.visibility]= "gibvis4 ? 'visible' : 'hidden'">
    <img id="gib5" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '52.8%', 'top': '7.75%' }" [style.transform]="'rotate(' + '80' + 'deg)'" [style.visibility]= "gibvis5 ? 'visible' : 'hidden'">
    <img id="gib6" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '52.6%', 'top': '10.0%' }" [style.transform]="'rotate(' + '90' + 'deg)'" [style.visibility]= "gibvis6 ? 'visible' : 'hidden'">
    <img id="gib7" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '52.15%', 'top': '12.05%' }" [style.transform]="'rotate(' + '100' + 'deg)'" [style.visibility]= "gibvis7 ? 'visible' : 'hidden'">
    <p class="player_name">{{player_name}}</p>
</div>