body{

	
	color: white;
	
	font-family: 'Roboto Condensed', sans-serif;
	background-attachment: fixed;
  
  	background-repeat: no-repeat;
	background-image: url("https://i.imgur.com/DpTwcFZ.jpg");
	background-position: -800px -125px;




}


header{

	background-color: black;
}


button{

	background-color: Transparent;
    border: none;

}



hr{
	 border-top: 1px solid #F2C94C;
}





#title{

	align-items: center;


}




#cont{


	padding: 5%;
	background-color: rgba(94, 94, 94, 0.67);


}



#cont h3{

	padding-top: 10%;


}


#popupSmall{

	text-align: center;
	position: absolute;

	padding-top:10%;
	padding-bottom:10%;
	margin-top: 40.04%;
	width: 375px;

	background: rgba(0, 0, 0, 0.82);
	z-index: 90;
	visibility: visible;

}










#mainContainer{

	margin: 5%;
	padding: 5%;
	background-color: rgba(0,0,0,.5);

}

.letters{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30.4655px;
    line-height: 36px;

    color: #F2C94C;
}

.yellowLetters {
	
	font-size: 20px;
	line-height: 20px;

	 color: #F2C94C;
}


.yellowLettersNormalSize {
	

	 color: #F2C94C;
}


.fab{


	border-radius: 50%;
	position:absolute;
	width: 25%;
	margin-top: -70%;
	left: 250px;
	z-index: 50;

}



.blur {
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	-webkit-filter: url(#blur-filter);
	filter: url(#blur-filter);
	-webkit-filter: blur(3px);
	filter: blur(3px);
	
}
.blur-svg {
	display: none;
}