<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="mobileGeneralStyle.css">-->



<body style="max-width:600px">

 

  <nav class="w3-sidebar w3-bar-block " id="mySidebar">
  <div class="w3-container w3-theme-d2">
  <span (click)="closeSidebar()" class="w3-button w3-display-topright w3-medium">X</span>
  <br>
    <p class='letters'>THE ROLES</p>
  </div>

  <br>
  <div *ngFor="let role of roles">
  <div id = "{{role}}" class="w3-cell-row" routerLink="/role-info" (click)="setCurrentRole(role)">
    <div class="w3-cell" style="width:30%">
      <img class="w3-circle" src="https://i.imgur.com/7Vown38.jpg" style="width:100%;">
    </div>
    <div class="w3-cell w3-container">
      <h3>{{role}}</h3>
  
    </div>
  </div>   
  <br>
  <br>
</div>
  
    

  </nav>

  <header class="w3-bar">
  <div id="title">
    
    <h1 class="w3-bar-item">Whitechapel</h1>
    <button  class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" (click)="openSidebar()">&#9776;</button>
  </div>
  </header>




  <div class="w3-container down5" >
    <br>

    <div class="w3-cell-row" >
      <div class="w3-cell" style="width:30%">
        <img class="w3-circle" src="https://i.imgur.com/7Vown38.jpg" style="width:100%">
      </div>
      <div class="w3-cell w3-container">
        <h3>{{player}}</h3>
        <p class="yellowLetters">{{role}}</p>
      </div>
    </div>  

  </div>


  <div class="w3-container">

  <br class="yellowLetters">
  <div id = "cont">


    <div class="w3-cell-row w3-center">
      <div class="w3-cell" style="width:70%">
        <h3>Phase</h3> <p class="yellowLetters">Info about current phase state for the players</p>
      </div>
    </div> 

    <br>
  <div *ngFor="let name of names">
    <div id = "{{name}}" class="w3-cell-row" (click)="rowSelect(name)">
      <div class="w3-cell" style="width:30%" >
        <img class="w3-circle" src="https://i.imgur.com/7Vown38.jpg" style="width:100%">
      </div>
      <div class="w3-cell w3-container">
        <h3>{{name}}</h3>
       
      </div>
    </div>  

    <hr>
 
</div>
  <br>
  </div>

  </div>

  <button id="fab"><img class = "fab" src="https://i.imgur.com/7Vown38.jpg"></button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>





</body>
