<div>
    <img class="player_image" src={{player_image}}>
    <img class= "player_mayor" src={{player_mayor}} [style.visibility]= "plm ? 'visible' : 'hidden'">
    <img class="player_dead" src={{player_dead}} [style.visibility]= "pldead ? 'visible' : 'hidden'">
    <img id="gib1" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '30.27%', 'top': '42.8%' }" [style.transform]="'rotate(' + '40.25' + 'deg)'" [style.visibility]= "gibvis1 ? 'visible' : 'hidden'">
    <img id="gib2" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.07%', 'top': '44.46%' }" [style.transform]="'rotate(' + '50' + 'deg)'" [style.visibility]= "gibvis2 ? 'visible' : 'hidden'">
    <img id="gib3" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.67%', 'top': '46.36%' }" [style.transform]="'rotate(' + '60' + 'deg)'" [style.visibility]= "gibvis3 ? 'visible' : 'hidden'">
    <img id="gib4" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.97%', 'top': '48.56%' }" [style.transform]="'rotate(' + '70' + 'deg)'" [style.visibility]= "gibvis4 ? 'visible' : 'hidden'">
    <img id="gib5" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.97%', 'top': '50.71%' }" [style.transform]="'rotate(' + '80' + 'deg)'" [style.visibility]= "gibvis5 ? 'visible' : 'hidden'">
    <img id="gib6" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.77%', 'top': '52.96%' }" [style.transform]="'rotate(' + '90' + 'deg)'" [style.visibility]= "gibvis6 ? 'visible' : 'hidden'">
    <img id="gib7" class="gibbet" src={{gibbet}} [ngStyle]="{'left' : '31.32%', 'top': '55.01%' }" [style.transform]="'rotate(' + '100' + 'deg)'" [style.visibility]= "gibvis7 ? 'visible' : 'hidden'">
    <p class="player_name">{{player_name}}</p>
</div>

